
<form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
  <app-alert 
    (isAlertClosed)="onCloseAlert()"
    *ngIf="alertText" 
    [type]="alertType" 
    [text]="alertText">
  </app-alert>
  <div class="flex min-h-full flex-col justify-center px-6 lg:px-8">
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <div class="space-y-6">
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
          <div class="mt-2">
            <input 
                placeholder="joe.doe@flightcollector.com"
                formControlName="email"
                type="email" 
                autocomplete="email" 
                required 
                class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                <div class="text-red-500 text-xs italic" *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="email.errors?.['required']">Email is required.</div>
                  <div *ngIf="email.errors?.['email']">Please enter a valid email.</div>
                </div>
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          </div>
          <div class="mt-2">
            <input 
                formControlName="password"
                type="password" 
                autocomplete="current-password" 
                required class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                <div class="text-red-500 text-xs italic" *ngIf="password.invalid && (password.dirty || password.touched)">
                  <div *ngIf="password.errors?.['required']">Password is required.</div>
                </div>
          </div>
        </div>
  
        <div>
          <button [disabled]="isLoadingValue" type="submit" [ngClass]="{'w-full h-10 px-4 py-2 font-semibold leading-6 text-sm text-center shadow rounded-md text-white bg-indigo-600 hover:bg-indigo-500 transition': true, 'cursor-not-allowed flex justify-center': isLoadingValue}">
            <span *ngIf="isLoadingValue"> 
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
            </span>
            {{isLoadingValue ? 'Processing...' : 'Sign In'}}
          </button>
        </div>
    </div>

    <p class="mt-10 text-center text-sm text-gray-500">
        Not a member?
        <a href="sign-up" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Create an account</a>
    </p>
  </div>
  </div>
</form>